// commons imports
@use "colors";
@use "fonts";
@use "responsive_mixins";
@use "typography";

// external imports

/** global element styling **/

/** global element styling **/




@import url(https://fonts.googleapis.com/css?family=Merriweather); 

:root {
  --topo-social-color: #888888;
  --menu-color: #ed9d24;
  --body-color: #0d0d0d;
  --body-background-color: #eee;
  --header-background-color: #005ca1;
  --header-color: #ed9d24;
  --button-effect-background-color: #2497ed;
  --button-effect-color: #a1650c;
  --button-call-color: #fdae25;
  --button-call-hover-effect: rgba(237,157,36,0.7);
  --menu-font-family: "Montserrat", sans-serif;
  --body-font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-background-color);
  font-family: var(--body-font-family);
  color: var(--body-color);
  min-width: 370px;
}

a {
  text-decoration: none;
}


#page-wrapper {
  position: relative;
}

.topo-social {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  font-family: "Oswald", sans-serif;
  color: var(--topo-social-color);
  background-color: #eee;
  margin-top: 0px;
  padding-top: 5px;
  z-index: 49;
  border-bottom: 1px solid rgba(0,0,0,.1);
  font-size: 0.7em;
}

.topo-social ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.topo-social ul li {
  line-height: 20px;
}

#div-topo {
  width: 70%;
  height: 25px;
}

#div-social {
  display: block;
  width: 30%;
}

#div-social a {
  color: var(--topo-social-color);
}

header {
  position: fixed;
  top: 31px;
  min-height: 75px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--header-background-color);
  width: 100%;
  z-index: 50;
}

#logo-anchor {
  margin-left: 5%;
  padding: -10px;
  text-align: left;
  width: 60%;
}

.logo {
  width: 60%;
  display: flex;
}

.logo > img {
  width: 100%;
  height: 100%;
  max-width: 200px;
  display: flex;
}

.logo-text {
  margin-left: 3%;
  width: 100%;
  border-left: solid 3px var(--menu-color);
  color: #fff;
  font-size: 0.8em;
}

.ul-logo-text {
  margin-left: 3%;
}

.li-logo-text {
  list-style-type: none;
  width: 300px;
}

#nav-bar {
  width: 30%;
  margin-right: 5%;
}

#nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

#nav-bar li {
  width: 33%; 
  display: table;
  margin-right: 5px;
  margin-top: 0;
  height: 50px;
  line-height: 50px;
}

.nav-link {
  color: var(--menu-color);
  font-family: var(--menu-font-family);
  text-decoration: none;
  vertical-align: center;
  text-align: center;
  display: table-cell;
}

.shadow-box {
  box-shadow: rgba(0,0,0,.28) 0 3px 6px 0;
  transition: 0.5s;
}

.anchor {
  display: block;
  position: relative;
  visibility: hidden;
}

#soluções {
  top: -80px;
}

#contato {
  top: -60px;
}

.nav-button:hover {
  background-color: var(--button-effect-background-color);
  box-shadow: rgba(0,0,0,.25) 0 3px 11px 0;
  border-radius: 3px;
  transition: 0.5s;
}

.nav-button:active {
  opacity: 0.8; 
}

#separator-main {
  display: block;
  height: 190px;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

#main-content {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 200px;
  width: 90%;
}

#main-content h2 {
  word-wrap: break-word;
  font-weight: 400;
}

#h2-head {
  grid-column-start: 1;
  grid-column-end: 6;
}

.call-button {
  width: 220px;
  height: 56px;
  line-height: 56px;
  margin: auto;
  border-radius: 50px;
  background-color: var(--menu-color);
  color: #0055b0;
}

.call-button:hover {
  box-shadow: rgba(0,0,0,.25) 0 3px 11px 0;
  transition: 0.3s;
}

.call-icon {
  height: auto;
  width: 25px;
  margin: auto;
  padding-top: 7px;
  padding-left: 22px;
  position: absolute;
  text-align: left;
  z-index: 0;
}

.call-text {
  height: auto;
  width: 100%;
  margin: 0;
  padding-left: 25px;
  font-size: 1.2em;
}

#anchor-call-button-tel {
  grid-column-start: 2;
  grid-column-end: 3;
}

#call-button-whats {
  background-color: #25d366;
  color: #ece5dd;
}

#features {
  margin-top: 70px;
}

#features p {
  margin-right: 60px;
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: var(--menu-color);
}

#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

.grid {
  display: flex;
}

#how-it-works {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#how-it-works > iframe {
  max-width: 560px;
  max-height: 100%;
  width: 90%;
  box-shadow: rgba(0,0,0,.25) 0 3px 11px 0;
}

#pricing {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  width: calc(100%/3);
  margin: 10px;
  border: solid 1px #000;
  border-radius: 3px;
}

.product > .level {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.product > ol {
  margin: 15px 0;
}

.product > ol > li {
  padding: 5px 0;
  padding-left: 10px;
  overflow: auto;
}

.product > ol > li:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#myBtnTel {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 100px;
  z-index: 99;
  font-size: 1em;
  border: none;
  outline: none;
  background-color: var(--button-call-color);
  color: #0055b0;
  cursor: pointer;
  padding: 15px;
  border-radius: 15% 50%;
  box-shadow: rgba(0,0,0,.25) 0 3px 11px 0;
}

#myBtnWhats {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 1em;
  border: none;
  outline: none;
  background-color: #25d366;
  color: #ece5dd;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  box-shadow: rgba(0,0,0,.25) 0 3px 11px 0;
}

#myBtn:hover {
  background-color: var(--button-call-hover-effect);
}

#myBtnTel {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.3s;
  animation-name: zoom;
  animation-duration: 0.3s;
}

#myBtnWhats{
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

#entre-em-contato {
  margin-top: 70px;
  text-align: center;
  color: #a8a8a8;
  text-shadow: (1px 1px 0 rgba(white, 1));
}

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
  
  input, textarea {
    border:0; outline:0;
    padding: 1em;
    border-radius: 8px;
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;
    box-shadow: 0 1px 1px rgba(black, 0.1);
    resize: none;
    
    &:focus {
      box-shadow: 0 0px 2px rgba(red, 1)!important;
    }
  }
  
  #input-submit {
    background-color: var(--menu-color);
    color: #0055b0;
    font-family: var(--body-font-family);
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    
    &:hover {
      box-shadow: rgba(0,0,0,.25) 0 3px 11px 0;
      transition: 0.5s;
    }
  }
  
  textarea {
    height: 126px;
 }
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { 
  width: 50%;
}

.left {
  margin-right: 2%;
}

/* Clearfix */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
  height: 600px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}

@media (max-width: 768px) {
  
  #div-topo {
    width: 0;
  }

  #div-social {
    width: 100%;
  }

  .logo {
    width: 50%;
    height: 100%;
  }
  
  #nav-bar {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
    margin-right: 0;
  }
  
  #nav-bar ul {
    width: 100%;
    flex-direction: column;
  }

  #nav-bar li {
    width: 100%;
    height: 25px;
    line-height: 25px;
  }
}

@media (max-width: 627px) {
  header {
    flex-wrap: wrap;
  }
  
  .logo {
    margin-top: 10px;
    width: 90%;
  }
  
  #nav-bar {
    width: 90%;
  }
  
  #nav-bar ul {
    width: 100%;
    flex-direction: row;
    height: 25px;
    line-height: 25px;
  }

  #nav-bar li {
    width: 33%;
    height: 25px;
    line-height: 25px;
  }
  
  #pricing {
    flex-direction: column;
  }
  
  .product {
    max-width: 300px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
}

@media (max-width: 489px) {
  .logo {
    width: 90%;
  }

  #header-img {
    margin: auto;
  }
  
  #header-img {
    width: 40%;
  }
  
  #nav-bar {
    width: 90%;
  }

  .call-button {
  width: 56px;
  height: 56px;
  line-height: 56px;
  margin: auto;
  border-radius: 50px;
  background-color: var(--menu-color);
  color: #0055b0;
  justify-content: center;
  padding: 0;
  }

  .call-text {
    display: none;
  }

  .call-icon {
  height: 56px;
  width: fit-content;
  margin: 0;
  margin: auto;
  padding-top: -2px;
  padding-left: 0;
  position: absolute;
  text-align: center;
  z-index: 0;
  }

  #i-call-tel {
    margin-left: 18px;
  }

  #i-call-whats {
    margin-left: 14px;
  }

  #features p {
    margin-right: 0;
  }

.call-icon i {
  text-align: center;
}
  
#features .icon {
    display: none;
  }
  
  #features .desc {
    width: 90%;
    text-align: center;
    padding: 0;
    height: 150px;
    margin: auto;
  }
  
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
  
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}








