// commons imports
@use "colors";
@use "fonts";
@use "responsive_mixins";
@use "typography";

// external imports

/** global element styling **/

/** global element styling **/



@import url(https://fonts.googleapis.com/css?family=Merriweather); 

:root {
  --menu-color: #ed9d24;
  --body-color: #0d0d0d;
  --body-background-color: #eee;
  --header-background-color: #005ca1;
  --header-color: #ed9d24;
  --button-effect-background-color: #2497ed;
  --button-effect-color: #a1650c;
  --button-call-color: #fdae25;
  --button-call-hover-effect: rgba(237,157,36,0.7);
  --menu-font-family: "Montserrat", sans-serif;
  --body-font-family: "Montserrat", sans-serif;
  --background-nav-button-img: url("https://user-images.githubusercontent.com/25882098/73128081-038fcc80-3fa9-11ea-872b-90214f02a0dc.png");
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-background-color);
  font-family: var(--body-font-family);
  color: var(--body-color);
}

a {
  text-decoration: none;
}


#page-wrapper {
  position: relative;
}

header {
  position: fixed;
  top: 20px;
  min-height: 75px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--header-background-color);
  width: 100%;
  z-index: 50;
  display: none;
}

.topo-social {
  position: fixed;
  top: 0;
  width: 100%;
  height: 20px;
  background-color: #eee;
  margin-top: 0px;
  padding-top: 5px;
  z-index: 49;
  border-bottom: 1px solid rgba(0,0,0,.1);
  border: dashed 1px red;
  
}


#logo-anchor {
  margin-left: 5%;
  padding: -10px;
  text-align: left;
  width: 100%;
}

.logo {
  width: 60%;
  display: flex;
}

.logo > img {
  width: 100%;
  height: 100%;
  max-width: 200px;
  display: flex;
}

.logo-text {
  margin-left: 3%;
  width: 100%;
  border-left: solid 3px var(--menu-color);
  color: #fff;
  font-size: 0.8em;
}

.ul-logo-text {
  margin-left: 3%;
}

.li-logo-text {
  list-style-type: none;
  width: 300px;
}

#nav-bar {
  width: 30%;
  margin-right: 5%;
}

#nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  line-height: 50px;
  list-style: none;
}

#nav-bar a {
  width: 33%; 
  display: table;
  margin-right: 5px;
}

.nav-link {
  color: var(--menu-color);
  font-family: var(--menu-font-family);
  text-decoration: none;
  vertical-align: center;
  text-align: center;
  display: table-cell;
}

.shadow-box {
  box-shadow: rgba(0,0,0,.28) 0 3px 6px 0;
  transition: 0.5s;
}

.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

.nav-button:hover {
  background-color: var(--button-effect-background-color);
  box-shadow: rgba(0,0,0,.25) 0 3px 11px 0;
  border-radius: 3px;
  transition: 0.5s;
  
}

.nav-button:active {
  opacity: 0.8; 
}

#main-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 200px;
  margin-top: 150px;
  width: 90%;
}

#main-content > h2 {
  word-wrap: break-word;
  font-weight: 400;
}

.call-button {
  margin-top: 50px;
  width: 220px;
  height: 56px;
  border-radius: 50px;
  text-align: center;
  line-height: 56px;
  background-color: var(--menu-color);
  color: #0055b0;
  display: flex;
  align-items: center;
}

.call-button:hover {
  box-shadow: rgba(0,0,0,.25) 0 3px 11px 0;
  transition: 0.3s;
}

.call-icon {
  height: auto;
  width: 25px;
  margin: auto;
  padding-top: 7px;
  padding-left: 22px;
  position: absolute;
  text-align: left;
  z-index: 0;
}

.call-text {
  height: auto;
  width: 100%;
  margin: 0;
  padding-left: 25px;
  font-size: 1.2em;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

#features {
  margin-top: 30px;
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: var(--menu-color);
}

#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

.grid {
  display: flex;
}

#how-it-works {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#how-it-works > iframe {
  max-width: 560px;
  max-height: 100%;
  width: 90%;
  box-shadow: rgba(0,0,0,.25) 0 3px 11px 0;
}

#pricing {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  width: calc(100%/3);
  margin: 10px;
  border: solid 1px #000;
  border-radius: 3px;
}

.product > .level {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.product > ol {
  margin: 15px 0;
}

.product > ol > li {
  padding: 5px 0;
  padding-left: 10px;
  overflow: auto;
}

.product > ol > li:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 1em;
  border: none;
  outline: none;
  background-color: var(--button-call-color);
  color: #0055b0;
  cursor: pointer;
  padding: 15px;
  border-radius: 15% 50%;
  box-shadow: rgba(0,0,0,.25) 0 3px 11px 0;
}

#myBtn:hover {
  background-color: var(--button-call-hover-effect);
  
}

#entre-em-contato {
  margin-top: 70px;
  text-align: center;
  color: #a8a8a8;
  text-shadow: (1px 1px 0 rgba(white, 1));
}

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
  
  input, textarea {
    border:0; outline:0;
    padding: 1em;
    border-radius: 8px;
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;
    box-shadow: 0 1px 1px rgba(black, 0.1);
    resize: none;
    
    &:focus {
      box-shadow: 0 0px 2px rgba(red, 1)!important;
    }
  }
  
  #input-submit {
    background-color: var(--menu-color);
    color: #0055b0;
    font-family: var(--body-font-family);
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    
    &:hover {
      box-shadow: rgba(0,0,0,.25) 0 3px 11px 0;
      transition: 0.5s;
    }
  }
  
  textarea {
    height: 126px;
 }
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { 
  width: 50%;
}

.left {
  margin-right: 2%;
}

/* Clearfix */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
  height: 500px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}

@media (max-width: 768px) {
  .logo {
    width: 50%;
    height: 100%;
  }
  
  #nav-bar {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  
  #nav-bar ul {
    width: 100%;
    flex-direction: column;
  }
  
  .nav-button {
    height: 25px;
    line-height: 25px;
    width: 100%;
  }
}

@media (max-width: 627px) {
  header {
    flex-wrap: wrap;
  }
  
  .logo {
    margin-top: 10px;
    width: 90%;
  }
  
  #nav-bar {
    width: 90%;
  }
  
  #nav-bar ul {
    width: 100%;
    flex-direction: row;
    height: 25px;
    line-height: 25px;
  }
  
  .nav-button {
    width: 33.33%;
  }
  
  #pricing {
    flex-direction: column;
  }
  
  .product {
    max-width: 300px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
}

@media (max-width: 423px) {
  .logo {
    width: 90%;
  }
  
  #header-img {
    width: 40%;
  }
  
  #nav-bar {
    width: 90%;
  }
  
  #features .icon {
    display: none;
  }
  
  #features .desc {
    width: 90%;
    text-align: center;
    padding: 0;
    height: 150px;
    margin: auto;
  }
  
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
  
}



